.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
 
.container {
    position: relative;
    height: 95vh;
    width: 42.75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 8vh;
    margin-top: 10vh;
}

.info {
    font-size: 3vh;
    margin-top: 20vh;
}

.textarea {
    height: 5vh;
    width: 28vh;
    background-color: black;
    color: white;
    resize: none;
    font-size: 3vh;
    margin-top: 3vh;
    padding-top: 1vh;
}

.textareaRoom {
    height: 5vh;
    width: 80%;
    background-color: black;
    color: white;
    resize: none;
    font-size: 2.5vh;
    margin-top: 3vh;
    padding-top: 1vh;
}

.button {
    text-align:center;
    height: 6vh;
    width: 14vh;
    font-size: 3vh;
    margin-top: 5vh;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 2vh;
    cursor: pointer;
}

.buttonRoom {
    text-align:center;
    height: 5vh;
    width: 14vh;
    font-size: 3vh;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 1vh;
    cursor: pointer;
    margin: 2vh;
}

.buttonBox {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 1vh;
}

.roomList {
    position: absolute;
    height: 70vh;
    width: 42vh;
    top: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.room {
    min-height: 6.6vh;
    margin-bottom: 5vh;
    width: 70%;
    word-break: break-all;
    overflow: auto;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2vh;
    cursor: pointer;
}

.gameBox {
    display: flex;
    flex-direction: column;
    min-height: 16.5vh;
    max-height: 16.5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 95%;
    border: 2px solid white;
    border-radius: 3px;
}

.powBox {
    flex: 2;
    display: flex;
    overflow-x: auto;
}

.gameNickname {
    flex: 1;
    font-size: 4vh;
    padding-left: 2vh;
    word-break:break-all;
    overflow-y: hidden;
    color: white;
    display: flex;
}

.pow {
    height: 60%;
    padding: 1vh
}

.janggiGrid {
    height: 56vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1vh 13.6vh 13.6vh 13.6vh 1vh;
    grid-template-rows: 1vh 13.6vh 13.6vh 13.6vh 13.6vh 1vh;
}

.janggiGrid > div {
    text-align: center;
}

.janggiGrid > div > img {
    height: 80%;
    margin-top: 10%;
}

.janggiGrid > .otherSide {
    background-color: #ff7f50;
}

.janggiGrid > .mySide {
    background-color: #228b22;
}

.janggiGrid > .canMove {
    background: repeating-linear-gradient(-45deg, black, black 8px, #666666 5px, #666666 10px);
}

.borderTop {
    border-top: 2px solid white;
}

.borderTopRed {
    border-top: 2px solid red;
}

.borderLeft {
    border-left: 2px solid white;
}

.borderBottomRight {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.backgroundBlue {
    background-color: #808080;
}

.clickDisabled {
    pointer-events: none;
}

.myBox {
    position: absolute;
    display: flex;
    bottom: 1vh;
    height: 10vh;
    width: 95%;
    border: 2px solid white;
    border-radius: 3px;
}

.myNickname {
    padding: 1vh;
    width: 60%;
    word-break: break-all;
    overflow: hidden;
    font-size: 3vh;
}

.otherBoxAndButton {
    position: absolute;
    display: flex;
    top: 1vh;
    width: 95%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.otherBox {
    display: flex;
    background-color: #808080;
    height: 100%;
    width: 60%;
    border: 2px solid white;
    border-radius: 3px;
}

.getOutButton {
    height: 80%;
    width: 30%;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    padding-top: 2vh;
    font-size: 3vh;
}

.otherNickname {
    padding: 1vh;
    width: 60%;
    word-break: break-all;
    overflow: hidden;
    font-size: 3vh;
}

.waitingPlayer2 {
    margin-top: 40vh;
    font-size: 3vh;
}

.chatButtonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

.chatButton {
    text-align: center;
    width: 85%;
    border: white 1px solid;
    font-size: 2.5vh;
    cursor: pointer
}   

.ready {
    border: 2px solid red;
}

.chatSendBox {
    display: flex;
    position: absolute;
    bottom: 13vh;
    height: 7vh;
    width: 95%;
    align-items: center;
}

.chatTextarea {
    height: 85%;
    width: 80%;
    background-color: black;
    color: white;
    resize: none;
    font-size: 2.5vh;
    padding-top: 1vh;
}

.chatSendButton {
    width: 25%;
    height: 5.5vh;
    padding-top: 1vh;
    font-size: 3vh;
    margin-left: 1vh;
    border: 1px solid white;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.chatList {
    position: absolute;
    top: 15vh;
    width: 95%;
    min-height: 58vh;
    max-height: 58vh;
    overflow-y: auto;
    border: 2px solid white;
    border-radius: 3px;
}

.chatMsg {
    font-size: 4vh;
    min-height: 5vh;
    padding: 1vh;
    word-break: break-all;
}

.resultBox {
    height: 58vh;
}

.resultButton {
    border: 2px solid white;
    border-radius: 3px;
    margin-top: 20vh;
    height: 10vh;
    width: 20vh;
    text-align: center;
    font-size: 7vh;
    cursor: pointer;
}